---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<section>
		<h1>部落格編輯器</h1>
	</section>
	<style>
		body {
			background-color: var(--nord1);
			color: var(--nord6);
		}
		section {
			padding: 2rem 1rem;
			text-align: center;
		}

		h1 {
			text-align: center;
		}
	</style>
</Layout>
