---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<section>
		<h1>404</h1>
	</section>
	<style>
		section {
			max-width: var(--content-width);
			margin: 0 auto;
			padding: 2rem 1rem;
		}
		h1 {
			text-align: center;
		}
	</style>
</Layout>
