---
import Layout from "@/layouts/Layout.astro";
import HomeCover from "@/components/HomeCover.astro";
import HomeInfo from "@/components/HomeInfo.astro";
---

<Layout>
	<HomeCover />
	<HomeInfo />

	<section>
		<h1>歡迎來到交大軟體開發社！</h1>
	</section>
	<style>
		section {
			max-width: var(--content-width);
			margin: 0 auto;
			padding: 2rem 1rem;
		}
		h1 {
			text-align: center;
		}
	</style>
</Layout>
