---
import Infinite from "@/assets/home/infinity.svg";
---

<header>
	<img src={Infinite.src} class="infinity-shape" alt="∞" />
	<div class="name-eng">
		Software<br />
		Development Club
	</div>
	<h1>NYCU軟體開發社</h1>
</header>
<style>
	.infinity-shape {
		position: absolute;
		left: 80%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 180vh;
		z-index: -1;
	}

	@media (max-width: 768px) {
		.infinity-shape {
			left: 90%;
			height: 120vh;
		}
	}

	header {
		position: relative;
		min-height: 100vh;
		min-height: calc(100svh - 1rem);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 2rem;
		color: var(--nord2);
	}

	.name-eng {
		font-size: clamp(2rem, 8vw, 3.5rem);
		line-height: 1;
		margin-bottom: 1rem;
	}

	h1 {
		font-size: clamp(1.2rem, 6vw, 1.75rem);
		font-weight: 400;
	}
</style>
