<section>
	<h2>聚集交清人才<br />加速兩校資訊發展<br />引領更多的新人，♾️ 循環。</h2>
	<div class="things-we-do">
		<div class="thing">
			<h3>社團課程</h3>
			<p>每學期會開設不同的社團課程</p>
		</div>
		<div class="thing">
			<h3>專案開發</h3>
			<p>以大型企級的 Scope 進行專案開發</p>
		</div>
		<div class="thing">
			<h3>超算競賽</h3>
			<p>好貴好快的電腦跑跑跑</p>
		</div>
		<div class="thing">
			<h3>出去玩</h3>
			<p>:)</p>
		</div>
	</div>
</section>

<style>
	section {
		max-width: var(--max-width);
		margin: 5rem auto 5rem;
		padding: 2rem;
		text-align: center;
	}
	h2 {
		font-size: clamp(2rem, 9vw, 3rem);
		line-height: 130%;
		color: var(--nord1);
		padding-bottom: 80px;
	}

	.things-we-do {
		gap: 1.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.thing {
		max-width: 329px;
		width: 100%;
		border-radius: 1rem;
		padding: 2rem 2rem;
		background: var(--nord6);
		color: var(--nord3);
		box-shadow: 0px 4px 9.2px 0px rgba(76, 86, 106, 0.16);
	}

	h3 {
		font-size: 2rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
	}

		@media (max-width: 50rem) {
		section {
		margin-bottom: 0rem;
		}
	}
</style>
