
<div class="club-info">
    <div class="description">
      <div class="text">
          聚集交清人才<br>
          加速兩校資訊發展<br>
          引領更多的新人，♾️ 循環。
      </div>
      <div class="things-we-do">
          <div class="thing">
              <p class="thing-title">社團課程</p>
              <p class="thing-description">每學期會開設不同的社團課程</p>
          </div>
          <div class="thing">
              <p class="thing-title">專案開發</p>
              <p class="thing-description">以大型企級的 Scope 進行專案開發</p>
          </div>
          <div class="thing">
              <p class="thing-title">超算競賽</p>
              <p class="thing-description">每學期會開設不同的社團課程</p>
          </div>
          <div class="thing">
              <p class="thing-title">出去玩</p>
              <p class="thing-description">:)</p>
          </div>
      </div>
    </div>

    <div class="members"> 
      <div class="member-left">
        <div class="member-left-card">
          <p class="member-num">80</p>
          <p class="member-role">Core Members</p>
        </div>
        <div class="member-left-card">
          <p class="member-num">30%</p>
          <p class="member-role">Master Students</p>
        </div>
      </div>
      <div class="member-right">
        <p class="member-num">80</p>
        <p class="member-role">Total Members</p>
      </div>
    </div>


</div>

<style>
  .member-left{
    gap:26px;
  }
  .member-left-card{
    width: 649;
    height: 220;
    border-radius: 16px;
    border-width: 4px;
    angle: 0 deg;
    opacity: 1;
    top: 1880px;
    left: 156px;
    padding-top: 27px;
    padding-right: 30px;
    padding-bottom: 27px;
    padding-left: 30px;
    gap: 13px;
    border: 4px solid rgba(216, 222, 233, 1)

  }
  .club-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 128px;
  }

  .description {
    padding: 80px;
  }

  .description .text {
    font-family: GenSekiGothic2 TW;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: var(--nord1, rgba(59, 66, 82, 1));
    padding-bottom: 80px;
  }

  .things-we-do {
    width: 1200px;
    height: 303px;
    opacity: 1;
    gap: 25px;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    //
    width: 329;
    height: 139;
    angle: 0 deg;
    opacity: 1;
    gap: 13px;
    border-radius: 16px;
    padding-top: 27px;
    padding-right: 30px;
    padding-bottom: 27px;
    padding-left: 30px;

  }

  .thing {
    width: 329px;
    height: 139px;
    opacity: 1;
    gap: 13px;
    border-radius: 16px;
    padding: 27px 30px 27px 30px;
    background: var(--nord6, rgba(236, 239, 244, 1));
    box-shadow: 0px 4px 9.2px 0px rgba(76, 86, 106, 0.16);
  }
  .thing-title{
    font-family: GenSekiGothic2 TW;
    font-weight: 700;
    font-style: B;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

  }
  .thing-description{
    font-family: GenSekiGothic2 TW;
    font-weight: 400;
    font-style: R;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

  }
  .members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 34px;
    
  }