<div class="home-cover">
    <img src="/src/content/infinity.svg" class="infinity-shape" alt="∞">

    <div class="name-eng">
        Software<br>
        Development Club
    </div>
    <div class="name-chi">
        @NYCU軟體開發社
    </div>

</div>
<style>
    .infinity-shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        max-width: 800px;
        height: auto;
        background: linear-gradient(113.95deg, #ECEFF4 -7.25%, #E5E9F0 153.74%);
        box-shadow:
            127.67px 76.48px 250px 0px rgba(136, 165, 191, 1),
            -74.52px -25.92px 318.93px 0px rgba(255, 255, 255, 1);
    
        mask: url("/src/content/infinity.svg") center center / contain no-repeat;
        -webkit-mask: url("/src/content/infinity.svg") center center / contain no-repeat;
    }

    .home-cover {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-left: 2rem;
        padding-bottom: 2rem;
        box-sizing: border-box;
        margin: 0;
        overflow: hidden;
    }

    .name-eng {
        font-family: Goldman;
        font-weight: 400;
        font-style: Regular;
        font-size: 55px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--nord2, rgba(67, 76, 94, 1));
        width: 696;
        height: 144;
        top: 753px;
        left: 62px;
        angle: 0 deg;
        opacity: 1;


    }

    .name-chi {
        /* Add your font styling here */
        font-family: Goldman;
        font-weight: 400;
        font-style: Regular;
        font-size: 28px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        color: var(--nord3, rgba(76, 86, 106, 1));


    }
</style>